body {
	background: linear-gradient(to right, #009933 0%, #000099 100%);
	color: white;
	font-size: 30px;
	font-family: 'Cousine', monospace;
	font-weight: 700;
}

#pojemnik {
	width: 912px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: grey;
}

#plansza {
	width: 800px;
	margin-top: 25%;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 48px;
	min-height: 100px;
	border-style: solid;
	border-color: grey;
}

#szubienica {
	float: left;
	width: 450px;
	text-align: center;
	min-height: 300px;
}

#alfabet {
	float: left;
	width: 450px;
	text-align: center;
	min-height: 300px;
}

/*ustalenie wyglądu div-ów dla każdej pojedynczej litery*/
.litera
{
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-color: gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}

/*co się stanie po najechaniu kursorem na div-a z daną literą*/
.litera:hover
{
	background-color: #222222;
	color: white;
	border-style: solid;
	border-color: white;
}

/*wystylizowanie napisu JESZCZE RAZ? na końcu rozgrywki*/
.reset
{
	color: green;
	cursor: pointer;
	font-size: 48px;
}

.reset:hover
{
	color:white;
}